* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg );
    background-size: 60% auto;
    background-position: -26% 0%;
    background-attachment: fixed;

}

.list-game {
    list-style: none;
}

nav {
    background-color: var(--green);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.YSCI-text {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.Title-2 {
    font-size: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.mugfon{
    color: white;
    width: 95%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.381);
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.register-text {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.register-text2 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    margin-top: 3%;
    width: 95%;
    margin-bottom: 13%;
    background-color: rgba(255, 255, 255, 0.077);
    padding: 5px;
    border-radius: 3px;
}

.label-form {
    color: var(--light-green);
    font-size: 10px;

}

.input-form {
    margin-left: 0%;
    background-color: rgba(255, 255, 255, 0.725);
}

.flex {
    display: flex;
    justify-content: center;
    text-align: right;
    width: 100%;
}

.reset {
    background-color: var(--logo-green);
    color: white;
    padding: 10px 20px;
    border-radius: 2%;
    border: 2px dashed var(--light-green);
    cursor: pointer;
    width: auto;
    height: 12%;
    margin-bottom: 10px;
}

.reset:hover {
    background-color: #074e4a;
    color: var(--light-green);
}

.submit:hover {
    background-color: #074e4a;
    color: var(--light-green);
}

.rule-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: start;
}

.rule-title {
    color: var(--light-green);
    text-shadow: 6px 6px 10px black;

}

.rule-details {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.center {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.details {
    color: black;
    background-color: rgba(255, 255, 255, 0.407);
    padding: 5px;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.about-us {
    background-color: #171A21;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-top: 3px solid #323640;
    display: flex;
    justify-content: center;
    gap: 25px;

    padding-bottom: 30px;
}

.links {
    /* border: 1px solid red;    */
    width: auto;
    height: auto;
    margin-top: 20px;

}

.link-title {
    color: #6C8B8A;
    border-left: 3px solid #4b8886;
    padding: 1px 5px;

}

.about-links {
    color: #0d5f5c;
    line-height: 20px;
    text-decoration: none;
}

.fa-instagram {
    margin-right: 5px;
}

.grancvellink {
    width: auto;
    height: auto;
    background-color: var(--logo-green);
    color: white;
    padding: 10px 20px;
    border-radius: 2%;
    border: 2px dashed var(--light-green);
    margin-left: 20px;
    margin-bottom: 10px;
    /* margin-top: 50px; */
    cursor: pointer;
    width: auto;
    height: 12%;
    text-decoration: none;
}

@media (max-height:500px) {
    :root {
        --logo-green: #073B39;
        --green: #053331;
        --light-green: #2fb9b5;
        --green-gray: #2b3e3e;
        --white-green: #83db8d;
    }


    .list {
        display: flex;
        list-style: none;
        width: 80%;
        /* border: 1px solid red; */
        align-items: center;
        height: 30px;
        justify-content: space-between;
    }

    .list-text {
        width: 16%;
    }

    .list-link {
        color: white;
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 5px;
    }

    .list-link:hover {
        color: var(--light-green);
        text-decoration: underline;
    }

    .logo {
        padding-right: 10%;
    }

    .list-logo {
        width: 80px;
        height: 20px;
        background-image: url(mafia\ title\ logo.png);
        margin-left: 2%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 1%;
        margin-right: 20px;
    }


    .home {
        width: 95%;
        height: auto;
        border: 2px solid darkgreen;
        margin-top: 15vh;
        background-image: url(mafia\ hat.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 30%;
        padding-top: 10px;
        padding-left: 12px;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        flex-direction: column;

    }

    .game {
        width: 95%;
        height: auto;
        border: 2px solid darkgreen;
        margin-top: 5vh;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 10px;
        padding-left: 12px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        background-image: url(Maf-Band.jpg);
   
    }

    .register {
        width: 95%;
        height: auto;
        border: 2px solid darkgreen;
        background-image: url(mafia\ black.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 40%;
        padding: 20px 15px;
        margin-bottom: 50px;
        background-color: black;
    }
}

@media (max-width:500px) {
    :root {
        --logo-green: #073B39;
        --green: #053331;
        --light-green: #2fb9b5;
        --green-gray: #2b3e3e;
        --white-green: #83db8d;
    }

    nav {
        background-color: var(--green);
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;

    }

    .list {
        display: flex;
        list-style: none;
        width: 80%;
        /* border: 1px solid red; */
        align-items: center;
        height: 30px;
        justify-content: space-between;
    }

    .list-text {
        width: 16%;
    }

    .list-link {
        color: white;
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 5px;
    }

    .list-link:hover {
        color: var(--light-green);
        text-decoration: underline;
    }

    .logo {
        padding-right: 10%;
    }

    .list-logo {
        width: 80px;
        height: 20px;
        background-image: url(mafia\ title\ logo.png);
        margin-left: 2%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 1%;
        margin-right: 20px;
    }


    .home {
        width: 95%;
        height: auto;
        border: 2px solid darkgreen;
        margin-top: 15vh;
        background-image: url(mafia\ hat.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 30%;
        padding-top: 10px;
        padding-left: 12px;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        flex-direction: column;

    }

    .game {
        width: 95%;
        height: auto;
        border: 2px solid darkgreen;
        margin-top: 5vh;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 10px;
        padding-left: 12px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        background-image: url(Maf-Band.jpg);
      
    }
        .register {
            width: 95%;
            height: auto;
            border: 2px solid darkgreen;
            background-image: url(mafia\ black.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 40%;
            padding: 20px 15px;
            margin-bottom: 50px;
            background-color: black;
        }
    }

    @media (min-width:1400px) {
        :root {
            --logo-green: #073B39;
            --green: #053331;
            --light-green: #2fb9b5;
            --green-gray: #2b3e3e;
            --white-green: #83db8d;
        }

        nav {
            background-color: var(--green);
            width: 100%;
            height: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;

        }

        .list {
            display: flex;
            list-style: none;
            width: 80%;
            /* border: 1px solid red; */
            align-items: center;
            height: 30px;
            justify-content: space-between;
        }

        .list-text {
            width: 16%;
        }

        .list-link {
            color: white;
            text-decoration: none;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 18px;
        }

        .list-link:hover {
            color: var(--light-green);
            text-decoration: underline;
        }

        .logo {
            padding-right: 10%;
        }

        .list-logo {
            width: 300px;
            height: 45px;
            background-image: url(mafia\ title\ logo.png);
            margin-left: 2%;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 300px;
        }


        .home {
            width: 40%;
            height: auto;
            border: 2px solid darkgreen;
            margin-top: 15vh;
            background-image: url(mafia\ hat.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 30%;
            padding-top: 10px;
            padding-left: 12px;
            border-radius: 20px 20px 0px 0px;
            display: flex;
            flex-direction: column;

        }

        .game {
            width: 40%;
           min-height: 200px; 
            border: 2px solid darkgreen;
            margin-top: 5vh;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 10px;
            padding-left: 12px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;

            background-image: url(Maf-Band.jpg);
           
        }

            .register {
                width: 40%;
                height: auto;
                border: 2px solid darkgreen;
                background-image: url(mafia\ black.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% 40%;
                padding: 20px 15px;
                margin-bottom: 50px;
                background-color: black;
            }
        }

        @media (max-width:1400px) and (min-width:500px)
         {
            :root {
                --logo-green: #073B39;
                --green: #053331;
                --light-green: #2fb9b5;
                --green-gray: #2b3e3e;
                --white-green: #83db8d;
            }

            nav {
                background-color: var(--green);
                width: 100%;
                height: 8vh;
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;

            }

            .list {
                display: flex;
                list-style: none;
                width: 100%;
                /* border: 1px solid red; */
                align-items: center;
                height: 30px;
                justify-content: space-between;
            }

            .list-text {
                width: 16%;
            }

            .list-link {
                color: white;
                text-decoration: none;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 12px;
            }

            .list-link:hover {
                color: var(--light-green);
                text-decoration: underline;
            }

            .list-logo {
                width: 150px;
                height: 45px;
                background-image: url(mafia\ title\ logo.png);
                margin-left: 2%;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 10px;
            }

            .home {
                width: 60%;
                height: auto;
                border: 2px solid darkgreen;
                margin-top: 15vh;
                background-image: url(mafia\ hat.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 30%;
                padding-top: 10px;
                padding-left: 12px;
                border-radius: 20px 20px 0px 0px;
                display: flex;
                flex-direction: column;

            }

            .game {
                width: 60%;
                height: auto;
                border: 2px solid darkgreen;
                margin-top: 5vh;

                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding-top: 10px;
                padding-left: 12px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;

                background-image: url(Maf-Band.jpg);
             
            }

            .register {
                width: 60%;
                height: auto;
                border: 2px solid darkgreen;
                background-image: url(mafia\ black.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% 40%;
                padding: 20px 15px;
                margin-bottom: 50px;
                background-color: black;
            }
        }